{% extends 'index.html' %}

{% block content %}
	<section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Flask</h2>
						<div class="page_link">
							<a href="{{url_for('main.home')}}">Home</a>
							<a href="{{url_for('main.flask')}}">Flask</a>
						</div>
					</div>
				</div>
            </div>
        </section>
         <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Python Micor Framework</h2>
        			<p>Easier to learn and more flexible for programers</p>
        		</div>
        		<div class="about_details">
        			<p>Flask is a micro web framework written in Python. It is classified as a microframework
						 because it does not require particular tools or libraries.
						It has no database abstraction layer, form validation, or any other 
						components where pre-existing third-party libraries provide common functions. 
						However, Flask supports extensions that can add application features as if they were implemented
						 in Flask itself. Extensions exist for object-relational mappers, form validation, upload handling,
						  various open authentication technologies and several common framework related tools. Extensions are 
						  updated far more frequently than the core Flask program. Flask initial release: April 1, 2010.

						Applications that use the Flask framework include Netflix, Pinterest and LinkedIn.</p>
        		</div>
        	</div>
        </section>
{% endblock %}